<input type="text" class="form-control" (keyup.enter)="createPost(title)" #title>


<div class="panel panel-default" *ngFor="let post of posts">
  <button class="btn btn-default" (click)="updatePost(post)">Update</button>
  <button class="btn btn-default" (click)="deletePost(post)">Delete</button>
  <div class="panel-heading" (click)="onActivation(post)">
     {{ post.title }}
    <span class="glyphicon" [ngClass]="{
        'glyphicon-chevron-up' : post['show'],
        'glyphicon-chevron-down' : !post['show']
      }">
    </span>
  </div>
  <div class="panel-body" *ngIf="post['show']">
     {{ post.body }}
    
  </div>
</div>