<form #f="ngForm">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input 
    required 
    minlength="3" 
    maxlength="10" 
    ngModel 
    name="firstName" 
    id="firstName" 
    #firstName="ngModel" 
    type="text" 
    class="form-control">
    <div 
      class="alert alert-danger" 
      *ngIf="firstName.touched && !firstName.valid">
      <div 
        *ngIf="firstName.errors.required">
          First name is required</div>
      <div 
      *ngIf="firstName.errors.minlength">
        First name should be {{ firstName.errors.minlength.requiredLength }} characters minimum</div>
    </div>
  </div>
  <div class="form_group">
    <label for="comment">Comment</label>
    <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <div>
    <label>
      <input type="checkbox" ngModel name="isSubscribe" #checkbox="ngModel"> Subscribe
    </label>
    <label>
      <input type="radio" ngModel name="isTick" value="1"> Subscribe
      <input type="radio" ngModel name="isTick" value="2"> UnSubscribe
    </label>
    <div class="form-group">
      <label for="contactMethod">
        Contact method
      </label>
      <select ngModel name="contactMethod" id="contactMethod" class="form-control">
        <option *ngFor="let method of contactMethods" [value]="method.id">{{ method.name }}</option>
      </select>
    </div> 
  </div>
  <button class="btn btn-primary" [disabled]="!checkbox.value == true">Submit</button>
</form>